* {
  padding: 0px;
  margin: 0px;
}
.heading {
  padding: 15px;
  width: auto;
  background-color: grey;
  text-align: center;
}
body {
  /* border: black; */
  /* border-style: solid; */
  font-family: sans-serif;
  font-weight: 700;
}
.dollar {
  font-weight: bolder;
  padding-top: 10px;
}
.shipping {
  padding-top: 3px;
  font-weight: bold;
  color: grey;
}
.butt {
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  border: none;
}
.butt:hover {
  background-color: green;
  cursor: pointer;
}
.butt:active {
  background-color: red;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 30px;
}
.More {
  color: black;
}
.container {
  width: 700px;
  margin: 50px auto;
  border: black 6px;
  border-style: solid;
}
.wardrobe {
  padding-top: 15px;
  font-weight: normal;
}
li {
  margin-left: 20px;
  padding-top: 15px;
  list-style-type: square;
}
ul {
  font-weight: normal;
}
